header{
    text-align: center;
    color: white;
    background-color: gray;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img, input, button, p{
    align-self: center;
}

p{
    margin-right: 30px;
}

table, td{
    border: 1pt black solid;
}

td{
    padding: 3px;
}

button{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    box-shadow: 10px 10px 35px -10px rgba(0,0,0,0.75);
}

.lived{
    background-color: rgb(192, 85, 85);
}